<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>

<div class="col-md-6 col-md-offset-3">
    <div class="alert alert-danger">
        Sorry. You are the only administrator. Deleting revoked.
    </div>
    @Html.ActionLink("Back to Personal Account", "PersonalAccount", "Account", null, new { @class = "btn btn-default", @style = "margin: 10px" })
</div>

</body>
</html>
