@{
    ViewBag.Title = "About project:";
}
<h2>About project:</h2>

<p>This online store project written by students of the course ASP.NET MVC (PVT)<br>

<h4>Students:</h4>

<span>Евгений Юшкевич</span><br>
<span>Николай Уласевич</span><br>
<span>Дмитрий Лобков</span><br>
<span>Кирилл Долголиков</span><br>
<span>Дмитрий --</span><br>
<span>Алексей Евтухин</span><br>
<span>Дмитрий Кондратенко</span><br>
<span>Елена Михейко</span><br>
<span>Андрей Макаревич</span><br>
    
<h4>Technologies used:</h4>
    <span>ASP.NET MVC 5</span><br>
    <span>etc..</span><br>