<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h2>Error.</h2>
    <div>
        An error occurred while processing your request.
    </div>
</body>
</html>
